@{
    ViewBag.Title = "Confirmar correo electrónico";
}

<center><div class="contenedor"><h2>@ViewBag.Title.</h2></div></center>

<center>
    <div class="TablaFormato">
        <p>
            Gracias por confirmar su correo electrónico. @Html.ActionLink("Haga clic aquí para iniciar sesión", "Iniciar sesión", "Cuenta", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</center>